*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	font-family: 'Century Gothic';
}

a{
	text-decoration: none;
}

ul{
	list-style: none;
}

img{
	max-width: 100%;
}

/*==========================================*/

.title{
	width: 100%;
	background: #3FAF59;
	height: 200px;

	display: flex;
	align-items: center;
	justify-content: center;
}

.title h1{
	color: #fff;
	font-size: 34px;
	font-weight: 200;
	text-align: center;
}

.navegacion{
	width: 100%;
	background: #1C1C1C;

	display: flex;
	justify-content: center;
}

.menu{
	width: 1000px;
	display: flex;
	flex-wrap: wrap;
	height: 90px;
}

.menu li{
	flex-basis: 0;
	flex-grow: 1;
	border-right: 1px solid #363636;
	position: relative;
}

.menu .first-item{
	border-left: 1px solid #363636;
}

.menu li a{
	display: flex;
	flex-direction: column;
	font-size: 18px;
}







